/*
	index.css - André Treib
		- Estilização da página index.html
*/

/* Header da página */
header {
	margin: 0px 0 20px 0 !important;
	box-shadow: 0px 0px 10px 1px var(--primary-shadow);
	padding: 20px 5px;
	background: #fff; 
	max-height: 150px;
	


	display: flex;
	align-items: center;
	justify-content: center;
}
	/* Título da página */
	header > div > .title { 
		margin: 0; 
		overflow: hidden; 
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis; 
	} 

	/* Ícone da página */
	header > .header-icon { color: var(--primary-icon); } 

/* Lista de websites */
section.website-list {
	box-shadow: 0px 0px 10px 1px var(--primary-shadow);
	padding: 20px 5px;
	background: #fff;
	margin-bottom: 50px;
}
	/* Definindo largura das colunas do grid */
	section.website-list > table .thumb { width: 20%; }
	section.website-list > table .descricao { width: 30%; }
	section.website-list > table .categoria { width: 20%; }
	section.website-list > table .publicado { width: 10%; }
	section.website-list > table .acoes { width: 20%; }

	/* Estilizando o GRID de Websites */
	section.website-list > table { 
		width: 100%;
		table-layout: fixed;
	}
	section.website-list > table tr {
		vertical-align: middle;
	}
	section.website-list > table > tbody > tr .thumbnail {
		width: 50%; 
		height: auto;
	}
	@media (max-width: 1024px) {
		section.website-list > table > tbody > tr .thumbnail {
			width: 100%; 
			height: auto;
		}
	}
	section.website-list > table > tbody > tr:nth-child(odd) { background: var(--primary-background); }
	section.website-list > table > tbody > tr:nth-child(even) { background: #fff; }
	section.website-list > table td, section.website-list > table th {
		padding: 5px 10px;
		overflow: hidden; 
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis; 
	}
	section.website-list > table th.filtro { width: 50px; }

