/*
	theme.css - André Treib
		- Esquema de cores do site
		- Mudança nos padrões do bootstrap
*/

/* Esquema de cores */
:root {
	--primary: #15B4AD; 
	--primary-darker: #12a29b;
	--primary-background: #F8FAFD;
	--primary-icon: #12a29b;
	--primary-shadow: #D2D4D6;
	--primary-font: #212529;
}

.green { color: #4cae4c; }
.red { color: #d43f3a; }

/* Mudando tema padrão do bootstrap para o esquema de cores do site */
*[class*="primary"] {
	background: var(--primary) !important;
	border-color: var(--primary) !important;
} *[class*="primary"]:hover {
	background: var(--primary-darker) !important;
	border-color: var(--primary-darker) !important;
}
*[class*="primary"]:active {
	opacity: 0.9 !important;
}

*[class*="secondary"] {
	background: none !important;
	border-color: var(--primary) !important;
	color: var(--primary) !important;
} *[class*="secondary"]:hover {
	background: var(--primary) !important;
	border-color: #fff !important;
	color: #fff !important;
}
*[class*="secondary"]:active {
	opacity: 0.9 !important;
}

/* Mudança de fonte e background*/
body {
	background: var(--primary-background);
	font-family: "Roboto", Verdana, sans-serif;
	color: var(--primary-font);
}

/* Criando regras para controlar conteúdo MOBILE, TELA PEQUENA e TELA GRANDE */
@media (max-width: 600px) {
	.hidden-mobile {
		display: none !important;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 1025px) {
	.hidden-lg {
		display: none !important;
	}
}

/*
	CSS do DROPDOWN
*/

.dropdown {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: inherit;
	text-align: left;
	z-index: 2;
}
.dropdown > span {
	border-radius: 0;
}
.dropdown-content {
	background: #fff;
	display: none;
	position: absolute;
	min-width: 200px;
	/*width: auto;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 99;
}
.right {
	right: 0;
}
.dropdown-content > a { 
	border-radius: 0;
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: right !important;
}
.dropdown-content > a > i { 
	float: left !important;
}