<!DOCTYPE html>
<html lang="pt">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="André Treib">
		<title>Atividade Builderall</title>

		<!-- Webfont Roboto -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- CSS's próprios -->
		<link href="css/theme.css" rel="stylesheet" /> <!-- Tema -->
		<link href="css/index.css" rel="stylesheet" /> <!-- Página -->
		<!-- Font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>

	<body ng-app="app" ng-controller="ctrl">

		<header class="row"> <!-- class="row" -->
				<div class="col-lg-1 col-2 text-center header-icon">
					<h1><span class="fas fa-globe"></span></h1>
				</div>
				<div class="col-lg-4 col-8"> 
					<h1 class='title'>Meus sites</h1>
				</div>
				<div class="col-lg-7 col-2 text-right">
					<span class="hidden-mobile hidden-sm btn btn-primary"><i class="fas fa-plus"></i> Website</span>
					<span class="hidden-mobile hidden-sm btn btn-primary"><i class="fas fa-plus"></i> Categoria</span>
					<span class="hidden-mobile hidden-sm btn btn-primary"><i class="fas fa-cog"></i> Configurar</span>
					<span class="hidden-mobile hidden-sm btn btn-primary"><i class="fas fa-wifi"></i> Alterar subdomínio</span>

					<div class="dropdown">
						<span class="hidden-lg btn btn-primary"><i class="fas fa-angle-down"></i></span>
						<div class="dropdown-content right">
							<a class="btn btn-primary" href="#">
								<i class="fas fa-plus"></i> Website
							</a>
							<a class="btn btn-primary" href="#">
								<i class="fas fa-plus"></i> Categoria
							</a>
							<a class="btn btn-primary" href="#">
								<i class="fas fa-cog"></i> Configurar
							</a>
							<a class="btn btn-primary" href="#">
								<i class="fas fa-wifi"></i> Alterar subdomínio
							</a>
						</ul>
					</div>
				</div>
			</header>

		<div class="container">

			

			<section class="row website-list">
				<table class="list">
					<colgroup>
    					<col class="thumb" />
						<col class="descricao" />
						<col class="categoria" />
						<col class="publicado" />
						<col class="acoes" />
  					</colgroup>
					<thead>
						<tr>
							<th class="hidden-sm hidden-lg" colspan="2">
								<input type="text" class="form-control" id="txtFiltro" placeholder="Faça sua busca" />
							</th>
							<th class="hidden-mobile">
								<input type="text" class="form-control" id="txtFiltro" placeholder="Faça sua busca" />
							</th>
							<th class="hidden-mobile">
								<select class="form-control" id="dropCategorias" placeholder="Selecionar categoria">
									<option value="-1">Buscar por categoria</option>
									<option value="1">Categoria 1</option>
									<option value="2">Categoria 2</option>
								</select>
							</th>

							<th class="text-center">Categoria</th>
							<th class="text-center">Publicado</th>
							<th class="text-right">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="website in websites">
							<td class="text-center">
								<div>
									<a href="#">
										<img ng-src="{{ website.thumbnail }}" class="thumbnail" />
									</a>
								</div>
								<div>
									<a href="#">{{ website.name }}</a>
								</div>
							</td>
							<td>
								<!-- Descrição breve -->
								{{ website.description }}
								
								<span class="btn btn-secondary hidden-lg"
										ng-show="website.description == ''">
									<i class="fas fa-plus"></i> Descrição
								</span>

								<span class="btn btn-secondary hidden-mobile hidden-sm"
										ng-show="website.description == ''">
									Adicionar descrição
								</span>
							</td>
							<td class="text-center">
								{{ website.category }}
							</td>
							<td class="text-center">
								<span ng-show="website.published" class="hidden-lg badge badge-primary">S</span>
								<span ng-show="!website.published" class="hidden-lg badge badge-dark">N</span>

								<span ng-show="website.published" class="hidden-mobile hidden-sm badge badge-primary">Sim</span>
								<span ng-show="!website.published" class="hidden-mobile hidden-sm badge badge-dark">Não</span>

								<i ng-class="{'red': website.locked,
												'fa-lock': website.locked, 
												'green': !website.locked,
												'fa-lock-open': !website.locked}" 
									class="fas">
								</i>
							</td>
							<td class="text-right">
								<span class="hidden-mobile hidden-sm btn btn-secondary"><i class="fas fa-pen"></i></span>
								<span class="hidden-mobile hidden-sm btn btn-secondary"><i class="fas fa-exchange-alt"></i></span>

								<div class="dropdown right inner-row">
									<span class="btn btn-secondary"><i class="fas fa-angle-down"></i></span>
									<div class="dropdown-content right">
										<a class="btn btn-primary hidden-lg " href="#">
											<i class="fas fa-pen"></i> Editar
										</a>
										<a class="btn btn-primary hidden-lg " href="#">
											<i class="fas fa-exchange-alt"></i> Transferir
										</a>
										<a class="btn btn-primary" href="#">
											<i class="fas fa-envelope"></i> E-mails
										</a>
										<a class="btn btn-primary" href="#">
											<i class="fas fa-paste"></i> Pegar link
										</a>
									</ul>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>				
			</section>

		</div>

		<!-- JQuery and Bootstrap -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- JS do tema -->
		<script src="js/theme.js"></script>
		<!-- JS da página -->
		<script src="js/index.js"></script>
	</body>
</html>